<ion-view title="" id="lotteryPage">
  <ion-content padding="false" class="has-header">
    <div class="circleMain lotteryCircle">
      <p class="totalSaved">${{ totalPoints }}</p>
      <p class="totalSavedtext">Points</p>
    </div>
  <div class="cardsCollection">
    <div class="cards"><img src="img/Prize1.jpg" alt="Smiley face" class="cardsImgPrize"></div>
    <div class="cards"><img src="img/Prize2.jpg" alt="Smiley face" class="cardsImgPrize"></div>
    <div class="cards"><img src="img/Prize3.jpg" alt="Smiley face" class="cardsImgPrize"></div>
  </div>
  <!-- <div class=saveBar>
      <div id="savePage-button-bar1" class="button-bar saveBar">
        <button id="savePage-button4" class="button button-block button-circle saveBarButtons" on-touch="less()">-</button>
        <button id="savePage-button6" class="button button-block button-circle saveBarButtons" on-touch="more()">+</button>
      </div>
      <div class="saveButtonBar">
        <button id="savePage-button5" class="button button-block saveButton" on-touch="save()">
          <div class="saveButtonAmount">${{ saveAmount }}</div>
          <div class="saveButtonSave">Save</div>
        </button>
      </div>
  </div> -->
  </ion-content>
</ion-view>
