<ion-view title="Lottery Page" id="page3">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="lotteryPage-form2" class="list">
      <ion-item class="range range-positive" id="lotteryPage-range2">Weekly Prize
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="range range-positive" id="lotteryPage-range3">Group Prize
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="range range-positive" id="lotteryPage-range4">Quarterly sweepstakes
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </form>
  </ion-content>
</ion-view>