<ion-view title="Save Page" id="page2">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="savePage-form1" class="list">
      <ion-item class="range range-positive" id="savePage-range1">Progress to Goal
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" id="savePage-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="savePage-slide24" style="background:url(img/avfsZwJT9WGsBj982ul1_kitten1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="savePage-slide25" style="background:url(img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="savePage-slide26" style="background:url(img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="savePage-button-bar1" class="button-bar">
      <button id="savePage-button4" class="button button-positive  button-block">1</button>
      <button id="savePage-button5" class="button button-positive  button-block">2</button>
      <button id="savePage-button6" class="button button-positive  button-block">3</button>
    </div>
  </ion-content>
</ion-view>