<ion-view title="Social Page" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="socialPage-form4" class="list">
      <ion-item class="range range-positive" id="socialPage-range5">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="socialPage-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="socialPage-slide210" style="background:url(img/avfsZwJT9WGsBj982ul1_kitten1.jpg) no-repeat center;background-size:cover;">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </ion-slide-page>
      <ion-slide-page id="socialPage-slide211" style="background:url(img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="socialPage-slide212" style="background:url(img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>