<ion-view title="" id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <!-- removed titles here for the tabs -->
    <ion-tab title="" icon="save-icon" href="#/page1/savepage" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="" icon="prizes-icon" href="#/page1/lotterypage" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="" icon="social-icon" href="#/page1/socialpage" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
